<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anilsezgin.samcrostoryline">

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:icon="@drawable/deneme"
        android:label="@string/app_name"
        android:roundIcon="@drawable/deneme"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAMCROStoryline"
        tools:targetApi="31">
        <activity
            android:name=".KarakterlerinEkrani"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SezonlarEkrani"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ActivityWendy"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ActivityUnser"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityTig"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityTara"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityPiney"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityOpie"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityJuicy"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityJax"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityHappy"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityGemma"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityClay"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityChibs"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityBobby"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon7Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon6Sayfa5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon6Sayfa4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon6Sayfa3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon6Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon5Sayfa4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon5Sayfa3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon5Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon4Sayfa4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon4Sayfa3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon4Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon3Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon2Sayfa4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon2Sayfa3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon2Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon1Sayfa4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sezon1Sayfa3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon1Sayfa2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon7"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon6"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySezon1"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>